<div class="container">
  <div *ngIf="isLoading; else not_loading">
    <app-spinner></app-spinner>
  </div>

  <ng-template #not_loading>
    <mat-card>
      <div class="cover">
        <app-back-btn></app-back-btn>
        <div class="flex">
          <img
            mat-card-avatar
            src="{{ user?.avatar }}"
            alt="{{ user?.first_name }} {{ user?.last_name }}"
          />
          <div class="content">
            <mat-card-header
              >{{ user?.first_name }} {{ user?.last_name }}</mat-card-header
            >
            <mat-card-content>{{ user?.email }} </mat-card-content>
          </div>
        </div>
      </div>
    </mat-card></ng-template
  >
</div>
