header {
  width: 100%;
  background-color: #8c6ab1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
}

mat-form-field {
  margin: 1rem 0 0 0;
  width: 35%;
  border-radius: 20px;
  font-family: "Expletus Sans";
  border-color: transparent;
}

@media only screen and (max-width: 700px) {
  mat-form-field {
    width: 80%;
  }
}
