header {
  width: 100%;
  background-color: rgb(140, 106, 177);
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  width: 35%;
  border-radius: 20px;
  font-family: "Expletus Sans";
  border-color: transparent;
}

/* input {
  border-radius: 8px;
} */
