.container {
  padding-top: 7rem;
  background-color: rgb(241, 240, 246);
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  min-width: fit-content;
}

a {
  text-decoration: none;
  border-radius: 16rem;
  margin: 1.5rem 0 1.5rem 0;
  font-family: "Expletus Sans";
  /*color: rgb(25, 71, 146); */
}

mat-card-header {
  color: black;
  font-weight: 700;
  font-family: "Expletus Sans";
  font-size: medium;
}

mat-card-content {
  color: rgba(0, 0, 0, 0.666);
  font-family: "Expletus Sans";
}

.avater {
  margin-top: 1.5rem;
  height: 6rem;
  width: 6rem;
}

ul {
  list-style-type: none;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.user_not_found {
  margin-top: 4rem;
  height: 50vh;
}
.not_found_title {
  font-family: "Expletus Sans";
  font-size: large;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  mat-card {
    width: 90%;
  }
  .user_not_found {
    height: 30vh;
  }
}

@media only screen and (max-width: 420px) {
  mat-card {
    width: 65%;
    min-width: 90%;
  }
  mat-card-header {
    font-size: small;
  }
  mat-card-content {
    font-family: "Expletus Sans";
    font-size: small;
  }
  .user_not_found {
    height: 30vh;
  }
}

.bg {
  background-image: url(/assets/bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
}

mat-paginator {
  background: transparent;
}
