<app-header (myEvent)="getDataFromSearch($event)"></app-header>
<div class="container">
  <div *ngIf="isLoading; else not_loading" class="spinner-style">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #not_loading>
    <mat-grid-list
      [cols]="mybreakpoint"
      (window:resize)="handleSize($event)"
      rowHeight="20rem"
    >
      <mat-grid-tile *ngFor="let user of filteredUsers">
        <mat-card
          ><div class="bg">
            <img
              mat-card-avatar
              src="{{ user.avatar }}"
              alt="{{ user.first_name }} {{ user.last_name }}"
              loading="lazy"
            />
          </div>

          <mat-card-header
            >{{ user.id }}. {{ user.first_name }}
            {{ user.last_name }}</mat-card-header
          >
          <mat-card-content>{{ user.email }} </mat-card-content>
          <a
            routerLink="users/{{ user.id }}"
            mat-stroked-button
            color="primary"
          >
            View Profile
          </a>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      aria-label="Select page"
      [pageIndex]="pageIndex"
      (page)="handlePageEvent($event)"
      *ngIf="filteredUsers.length > 1"
    >
    </mat-paginator>
  </ng-template>
</div>
