/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 0 7rem 0 7rem;
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 0 0.5rem 0 0.5rem;
  }
}

.spinner-style {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
